@import "normalize.css/normalize.css";
@import "./scss/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.green {
  color: $color-green;
}

.blue {
  color: $color-blue;
}

.pink {
  color: $color-pink;
}

.lightgreen {
  color: $color-lightgreen;
}

.purple {
  color: $color-purple;
}

.coral {
  color: $color-coral;
}

.gray {
  color: $color-gray;
}

.black {
  color: $color-black;
}

.bg-green {
  background-color: $color-green;
}

.bg-blue {
  background-color: $color-blue;
}

.bg-pink {
  background-color: $color-pink;
}

.bg-lightgreen {
  background-color: $color-lightgreen;
}

.bg-purple {
  background-color: $color-purple;
}

.bg-coral {
  background-color: $color-coral;
}

.bg-gray {
  background-color: $color-gray;
}

.bg-black {
  background-color: $color-black;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  position: fixed;
  width: 100%;
  height: 100%;
}

.todo-app {
  min-height: 100%;
  min-width: 100%;
  display: flex;
  background-color: $color-white;
  border-radius: 4px;
  box-shadow: 0 2px 15px rgba($color-full-black, 0.25);
}

.todo__sidebar {
  min-height: 100%;
  width: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 20px;
  border-radius: 4px 0 0 4px;
  background-color: $sidebar-bg;
}

.todo__tasks {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 60px;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: $color-gray-light;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-gray-dark;
    border-radius: 4px;
  }
}
