// Colors
$color-green: #42B883;
$color-blue: #64C4ED;
$color-pink: #FFBBCC;
$color-lightgreen: #B6E6BD;
$color-purple: #C355F5;
$color-coral: #FF6464;
$color-gray: #C9D1D3;
$color-gray-light: lighten(#c2c2c2, 5%);
$color-gray-dark: darken(#c2c2c2, 40%);
$color-black: #09011A;
$color-full-black: #000000;
$color-white: #FFFFFF;
// Components colors
$sidebar-bg: #F4F6F8;
$scrollbar-track-bg: #DBDDDF;
$scrollbar-thumb-bg: #BEBEBE;
